In [ ]:
e=input("please enter your number")

In [ ]:
e=input("please enter your number")

In [ ]:
print("yasalm"+ " ""yahoo")

In [ ]:
f=10

In [ ]:
type(f)

In [ ]:
e=float(10)

In [ ]:
type(e)

In [ ]:
f

In [ ]:
g=5

In [ ]:
type(g)

In [ ]:
g=int(g)

In [ ]:
type(g)

In [ ]:
print(f+g)

In [ ]:
complex(4)

In [ ]:
str(9000)

In [ ]:
# read ist number
num1= input('plz Enter Ist number')
# read 2nd number
num2= input('plz Enter 2nd number')
# convert numbers from str to float
num1=float(num1)
num2=float(num2)
# print sum
print('sum =' ,num1 +num2)
#print sub
print('sub =' ,num1 - num2)
# print multi
print('Multi =' ,num1 * num2)

####

In [ ]:
5>4

In [ ]:
5==4

In [ ]:
5 !=4

5 is not 4

In [ ]:
5>4 and 6>4

In [ ]:
# read age
age= input("please enter Your Age :")
gender= input("please enter Your gender :")
# convert age
age= float(age)
# compare age
if age >=18 and (gender == 'male' or gender =='m' ):
    print("ok ya male")
elif age <18 and gender == 'male' :
    print("Male no")
elif age >18 and gender == 'femal' :
    print("female welcome")
else :
    print("undefined")

In [ ]:
num1=input("plase enter num1 :")
num2=input("plase enter num2 :")
op=input("please enter operation:")
num1=float(num1)
num2=float(num2)
if op == "+" :
    result=num1+num2
    print ("sum ya gamil =" ,result)
elif op =="-" :
    result=num1-num2
    print ("sub ya hazeen =" ,result)
elif op =="*" or op =="x":
    result=num1*num2
    print ("multiplication  ya gamil =" ,result)

In [7]:
numList=[1,2,3]
floatList=[2.4 ,2.5]
list1=[1,5,"Ahmed","mohamed",7,8]u
print(list1)
print(floatList)
print(numList)
list1[2]='hanan'
list1
del (list1[2])
list1

[1, 5, 'Ahmed', 'mohamed', 7, 8]
[2.4, 2.5]
[1, 2, 3]

[1, 5, 'mohamed', 7, 8]

In [9]:
names =['mohamed','ahmed' ,'hassan']
jobs=['doctor','eng', 'prof']
col=names+jobs
print(col)
names*3

['mohamed', 'ahmed', 'hassan', 'doctor', 'eng', 'prof']

['mohamed',
 'ahmed',
 'hassan',
 'mohamed',
 'ahmed',
 'hassan',
 'mohamed',
 'ahmed',
 'hassan']

In [10]:
len(names)

3

In [12]:
'mohamed' in names

True

In [13]:
if 'hanan' in names:
    print("found")
else :
    print("not found")

not found

In [14]:
names =['mohamed','ahmed' ,'hassan']
numbers=[1,3,5,7,9]
print(len(names))
print(max(numbers))
print(max(names))
print(min(numbers))
print(min(names))

3
9
mohamed
1
ahmed

In [15]:
names.append("huda")
numbers.append(6000)
print(names)
print(numbers)

['mohamed', 'ahmed', 'hassan', 'huda']
[1, 3, 5, 7, 9, 6000]

In [16]:
numbers.append(6000)
numbers.append(6000)
print(numbers)

[1, 3, 5, 7, 9, 6000, 6000, 6000]

In [17]:
numbers.count(6000)

3

In [3]:
names =['mohamed','ahmed' ,'hassan']
numbers=[1,3,5,7,9]
numbers.extend(names)
print(numbers)
names.pop()
names

[1, 3, 5, 7, 9, 'mohamed', 'ahmed', 'hassan']

['mohamed', 'ahmed']

In [20]:
names.index('ahmed')

1

In [4]:
names =['mohamed','ahmed' ,'hassan']
names.reverse()
names

['hassan', 'ahmed', 'mohamed']

In [5]:
names.sort()
names

['ahmed', 'hassan', 'mohamed']

In [7]:
names =['mohamed','ahmed' ,'hassan']
namesT =('mohamed','ahmed' ,'hassan')
print (type(names))
print (type(namesT))

<class 'list'>
<class 'tuple'>

In [8]:
search={"name" :"hazem" ,"age":26}
search["name"]

'hazem'

In [10]:
search['name']='yousra'
search

{'name': 'yousra', 'age': 26}

In [17]:
#el(search['age'])
#earch
 #l (search)
search

{'name': 'hazem', 'age': 26}

In [18]:
search={"name" :"hazem" ,"age":26}
len(search)

2

In [4]:
dic1={"name" :"hazem" ,"age":26 ,'salary':9000}
dic2=dic1.copy()
dic2
dic1["name"]
dic1.get('name')
dic1.items()

dict_items([('name', 'hazem'), ('age', 26), ('salary', 9000)])

In [1]:
list1={'names','ages','salary;}
dic3=dict.fromkeys(list1)
dic3

SyntaxError: EOL while scanning string literal (Temp/ipykernel_3416/3821868000.py, line 1)

In [5]:
dic1.values()

dict_values(['hazem', 26, 9000])

In [6]:
msg='welcome ya bn ami'
msg[-1]

'i'

In [7]:
msg*3

'welcome ya bn amiwelcome ya bn amiwelcome ya bn ami'

In [8]:
msg[3:6]

'com'

In [9]:
msg[:6]

'welcom'

In [10]:
msg[3:]

'come ya bn ami'

In [14]:
msg='welcome ya \n bn ami'
print (msg)

welcome ya
 bn ami

In [20]:
name='reda'
number=3
msg='welcome ya %s bn %d ami'%(name,number)
print(msg)

welcome ya reda bn 3 ami

In [21]:
msg.replace('3','4')

'welcome ya reda bn 4 ami'

In [22]:
len(msg)

24

In [23]:
msg.index('ami')

21

In [24]:
msg='ali'
msg.capitalize()

'Ali'